.switch{
       font-size: 15px;
       background-color: rgb(182, 177, 175);
       border-radius: 100px;
       padding: 10px;
       width: 200px;
       align-content: center;
       margin-left: 25%;
       box-shadow: 20;
       text-align: center;
       justify-content: center;
      
}                          

.switch:hover{
   background-color: rgb(22, 175, 221);
}
input{
       width: 100%;
}
.rumus{
       background-color: rgb(189, 188, 188);
       padding: 10px;
       margin: 10px;
      border-radius: 30px;
       align-items: center;
       display: block;
      
       justify-content: center;
       
      
}

.rumus:hover{
   background-color: rgb(22, 175, 221);
}
.hitung{
       padding: 20px;
       margin: 20px;
}
.start{
       background-color: rgb(22, 175, 221);
       padding: 10px;
       margin: 10px;
}
.image{
     
       padding: 15px;
} .reset:hover{
       background-color: red;
       text-align: right;
}
.kirim:hover {
       background-color: green;
}
h1{
     
       text-align: center;
}
.keliling{
       background-color: rgb(22, 175, 221);
       padding: 15px;
       margin: 10px;
}
h6{
       text-align: center;
}
@media only screen and (max-widh:600px){
       body{
              background-color: rgb(22, 175, 221);
              padding: 15px;
              margin: 10px;
       }
}
.section-content{
       text-align: center;
}
.luas{
       text-align: center;
}
.image{
       align-items: center;
       width: 10px;
       
}
h3{
       text-align: center;
}
